<p>group-add-edit works!</p>
<form #f="ngForm" class="form-horizontal" (ngSubmit)="onsupmit(f)" >
    <div class="form-group">
      <label class="control-label col-sm-2" >task name:</label>
      <div class="col-sm-10">
        <!-- [(ngModel)]="semester.semesterName"  -->
        <input type="text" ngModel  [ngModel]="task.name"  name="name" required class="form-control" placeholder="Enter  name">
      </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-2" >task type:</label>
        <div class="col-sm-10">
          <!-- [(ngModel)]="semester.semesterName"  -->
          <input type="text" ngModel  [ngModel]="task.type"  name="type" required class="form-control" placeholder="Enter  type of task">
        </div>
      </div>

            
    <div class="form-group">
        <label class="control-label col-sm-2" > content:</label>
        <div class="col-sm-10">
          <!-- [(ngModel)]="semester.semesterName"  -->
          <textarea  ngModel  [ngModel]="task.content"  name="content" required class="form-control" placeholder="Enter  content"></textarea>
        </div>
      </div>


    <div class="form-group">
        <label class="control-label col-sm-2" > notes:</label>
        <div class="col-sm-10">
          <!-- [(ngModel)]="semester.semesterName"  -->
          <textarea  ngModel  [ngModel]="task.notes"  name="notes" required class="form-control" placeholder="Enter  notes"></textarea>
        </div>
      </div>
     
    <div class="form-group">
        <label class="control-label col-sm-2" > total:</label>
        <div class="col-sm-10">
          <!-- [(ngModel)]="semester.semesterName"  -->
          <input type="number"  ngModel  [ngModel]="task.total"  name="total" required class="form-control" placeholder="Enter  total degree">
        </div>
      </div>
      

  

    <div class="form-group"    *ngIf="task.id==0">
      <div class="col-sm-offset-2 col-sm-10">
        <!-- (click)="onaddclick()" -->
        <button type="submit"   [disabled]="f.invalid" class="btn btn-success">Add</button>
      </div>
  
    </div>

    <div class="form-group"  *ngIf="task.id >0">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" [disabled]="f.invalid" >Update</button>
      </div>
    </div>
    
  </form>
  